In [2]:
import pandas as pd
import numpy as np

# 예시 데이터 프레임 생성
data = {'A': [1, 2, np.nan, 4],
        'B': [5, np.nan, 7, 8],
        'C': ['apple', 'banana', 'cherry', 'date']}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

Original DataFrame:
     A    B       C
0  1.0  5.0   apple
1  2.0  NaN  banana
2  NaN  7.0  cherry
3  4.0  8.0    date

In [13]:
# 1. ix 함수 (참고: ix 함수는 더 이상 사용되지 않으므로 loc 또는 iloc을 사용하는 것이 좋습니다.)
# 특정 행과 열에 접근, 컬럼명으로
row_index = 1
col_name = 'B'
value_at_1B = df.loc[row_index, col_name]
print(value_at_1B)

nan

In [7]:
#위치 중심으로 
value_1Biloc=df.iloc[1,1]
print(value_1Biloc)

nan

In [13]:
# 2. drop 함수
# 열 삭제
df_dropped = df.drop('A', axis=1)
print("DataFrame after dropping column 'A':")
print(df_dropped)

DataFrame after dropping column 'A':
     B       C
0  5.0   apple
1  NaN  banana
2  7.0  cherry
3  8.0    date

In [12]:
# 3. rename 함수
# 열 이름 변경
df_renamed = df.rename(columns={'B': 'New_B'})
print("DataFrame after renaming column 'B' to 'New_B':")
print(df_renamed)

DataFrame after renaming column 'B' to 'New_B':
     A  New_B       C
0  1.0    5.0   apple
1  2.0    NaN  banana
2  NaN    7.0  cherry
3  4.0    8.0    date

In [8]:
# 4. dropna 함수
# NaN 값을 가진 행 삭제
df_dropped_na = df.dropna()
print("DataFrame after dropping rows with NaN values:")
print(df_dropped_na)

DataFrame after dropping rows with NaN values:
     A    B      C
0  1.0  5.0  apple
3  4.0  8.0   date

In [9]:
# 5. fillna 함수
# NaN 값을 특정 값으로 채우기
df_filled_na = df.fillna(value={'A': 0, 'B': 99})
print("DataFrame after filling NaN values with 0 and 99:")
print(df_filled_na)

DataFrame after filling NaN values with 0 and 99:
     A     B       C
0  1.0   5.0   apple
1  2.0  99.0  banana
2  0.0   7.0  cherry
3  4.0   8.0    date

In [14]:
# 6. apply 함수
# 각 열에 함수 적용 (예: 각 열의 합)
sum_by_column = df.apply(np.sum, axis=0)
print("\nSum of each column:")
print(sum_by_column)

Sum of each column:
A                      7.0
B                     20.0
C    applebananacherrydate
dtype: object